/* Header section */
.logo_twitter span{
    width: 50px;
    height: 50px;
}

.logo_github span{
    width: 50px;
    height: 50px;
}

.main_head-pic {
    width: 340px;
    height: 340px;
}

.main_head-info h2 {
    font-size: 3.6rem;
}

.main_head-info p {
    font-size: 2.1rem;
  }