/* Header section */
.main_head-info {
    width: 90%;
    margin: auto;
}


.main_head-pic {
    width: 300px;
    height: 300px;
}

/* Main section */
.main-cards{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    

    flex-wrap: wrap;
}

.cards{
    margin-left: 15px;
}

.main_head-info h2 {
    font-size: 3.2rem;
    margin: 0;
}

.main_head-info p {
    font-size: 1.8rem;
    margin: 0;
}

.main_head-info .button {
    margin: 0;
}